<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-responsive.min.css" rel="stylesheet">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.4.4/leaflet.css" />
<!--[if lte IE 8]>
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.4.4/leaflet.ie.css" />
<![endif]-->

<script src="http://cdn.leafletjs.com/leaflet-0.4.4/leaflet.js"></script>
    <script src="/js/sunriser.js"></script>
    <script src="/js/sun_errors.js"></script>
    <script src="/js/sun_forecast.js"></script>
    <script>
    	$(document).ready(function ()
    	{
    		$('#geobutton').click(function ()
    			{
    				var sr = new Sunriser();
    			});
    		$('#forecastbutton').click(function ()
    		{
    			var forecast = new SunForecast();
    		});
    	});
    </script>
  </head>
  <body>
     <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="http://sunriser.herokuapp.com/">Sunriser</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#contact">Contact</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row-fluid">
        
        <div class="span9">
            <div class="hero-unit">
    <h1><%= title %></h1>
    <p>Sunrise and Sunset calculator wherever you are.</p>
    
    	<a class="btn btn-large btn-primary" id="geobutton" href="#"><strong>Locate me!</strong></a>

    	<a class="btn btn-large btn-primary" id="forecastbutton" href="#"><strong>Forecast me!</strong></a>


    <div id="location-data">
    	<table>
    		<tr>
    			<td>Current location:</td>
    			<td id="current_location"></td>
    		</tr>
    		<tr>
    			<td>Latitude:</td>
    			<td id="latit"></td>
    		</tr>
    		<tr>
    			<td>Longitude</td>
    			<td id="longit"></td>
    		</tr>
    	</table>
    </div>

    <div id="results">

    	<table>
    		<tr>
    			<td>Current time:</td>
    			<td id="current_time"></td>
    		</tr>
    		<tr>
    			<td>Local sunrise:</td>
    			<td id="local_sunrise"></td>
    		</tr>
    		<tr>
    			<td>Local Sunset:</td>
    			<td id="local_sunset"></td>
    		</tr>
    		<tr>
    			<td>Is it daylight there right now?</td>
    			<td id="local_daylight"></td>
    		</tr>
    	</table>
    </div>

    <div id="forecast">
    	<table>
    		<thead>
    			<tr>
    				<th>Date</th><th>Local Sunrise Time</th><th>Local Sunset Time</th>
    			</tr>
    		</thead>
    		<tbody>

    		</tbody>
    	</table>
    </div>
 </div><!--/.hero-->
  </div><!--/span-->

<div class="span3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">Sidebar</li>
              <li class="active"><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              
            </ul>
          </div><!--/.well -->
        </div><!--/span-->


      </div><!--/row-->

       <footer>
        <p>&copy; vinnie 2012</p>
      </footer>

    </div><!--/.fluid-container-->


  </body>
</html>